@use '../abstracts' as *;

@media screen and (min-width: $large) {
    /** Attribution and stuff **/

    body {
        background-position-x: -10rem, 50rem;
        overflow: auto;
    }

    .card {
        &___pfp {
            transform: translate(135px, 105px);
        }
    }

    .attribution {
        font-size: 11px;
        text-align: center;
    }
}
