/** Primary Colors **/
/** Neutral Colors **/
/* $medium: 23.4375em; */
/*** Typography ***/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
}

.card___age, .card___location, .card___ctg {
  color: #969696;
}
.card___count {
  text-transform: uppercase;
  font-size: 19.8px;
  margin-bottom: -0.1875rem;
}
.card___username, .card___username .card___age {
  text-align: center;
  padding: 0.5em;
  transform: translateX(10px);
  font-size: 19.89px;
  letter-spacing: 1px;
}
.card___username .card___age {
  font-weight: 300;
  padding-left: 0.25em;
}
.card___followers .card___ctg {
  text-transform: none;
  font-size: 0.8125rem;
  letter-spacing: 2px;
  font-weight: 300;
}

.attribution a {
  color: #969696;
}

body {
  min-height: 100vh;
  max-height: 100%;
  background: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg), #19a2ae;
  background-repeat: no-repeat, no-repeat;
  background-position-x: -40.625rem, 10rem;
  background-position-y: -43.75rem, 15rem;
  overflow: hidden;
}

.card {
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.5em 1.05em;
  margin-top: 8em;
  background-color: #fff;
  max-width: 375px;
}
.card___userInfo {
  padding-bottom: 2em;
  background-image: url("../images/bg-pattern-card.svg");
  width: 100%;
  border-radius: 20px 20px 0 0;
  height: 20vh;
}
.card___userInfo .card___username {
  margin-top: 7rem;
}
.card___userInfo .card___location {
  display: block;
  margin-top: 0em;
}
.card___pfp {
  width: 120px;
  max-width: 100%;
  border-radius: 50vw;
  background-color: #fff;
  border: solid 4px white;
  padding: 2px;
  transform: translate(125px, 105px);
}
.card___followings {
  display: flex;
  flex-direction: row;
  gap: 3em;
  border-top: solid 1px rgba(150, 150, 150, 0.3);
  width: 100%;
  padding: 2em 0 1.5em 0;
  margin: 11rem auto;
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 90em) {
  /** Attribution and stuff **/
  body {
    background-position-x: -10rem, 50rem;
    overflow: auto;
  }

  .card {
    margin: 0.5em auto;
    margin-top: 8em;
  }
  .card___pfp {
    transform: translate(135px, 105px);
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }
}
/** My Modified 7 in 1 pattern **/

/*# sourceMappingURL=styles.css.map */
