/*** PRE DEFINED STYLES ***/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/*** MY CUSTOM STYLES BELOW ***/
:root {
    /* Primary Colors */
   --clr-blue-233: hsl(233, 47%, 7%);
   --clr-blue-244: hsl(244, 38%, 16%);
   --clr-violet-277: hsl(277, 64%, 61%);

   /* Neutral Colors */
   --clr-white: hsl(0, 0%, 100%);
   --clr-white-tp-75: hsla(0, 0%, 100%, 0.75);
   --clr-white-tp-60: hsla(0, 0%, 100%, 0.6);

   /* TYPOGRAPHY */
   --ff-inter: 'Inter', sans-serif;
   --fw-400: 400;
   --fw-700: 700;

   --ff-lexend: 'Lexand Deca', sans-serif;

}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-size: 15px;
    background-color: var(--clr-blue-233);
}

main {
    color: var(--clr-white-tp-60);
}

img {
    max-width: 100%;    
}

section h1 {
    display: block;
    margin: 30px 25px;
    text-align: center;
    color: var(--clr-white);
    line-height: 1.5;
}

section h1, section h1 > span {
    font-family: var(--ff-inter);
    font-size: 2rem;
}


section h1 > span {
    color: var(--clr-violet-277);
}





section p, section > span {
    color: var(--clr-white-tp-60);
}
