@use '../abstracts/' as *;

body {
    font-size: $fs-body;
    font-family: $ff-kumbh;
}

.card {
    &___age,
    &___location,
    &___ctg {
        color: $clr-darkgray;
    }

    &___count {
        text-transform: uppercase;
        font-size: $fs-body * 1.1;
        margin-bottom: -0.1875rem;
    }

    &___username,
    &___username &___age {
        text-align: center;
        padding: 0.5em 0;
        font-size: $fs-body * 1.105;
        letter-spacing: 1px;
    }

    &___username &___age {
        font-weight: 300;
        padding-left: 0.25em;
    }

    &___followers &___ctg {
        text-transform: none;
        font-size: 0.8125rem;
        letter-spacing: 2px;
        font-weight: 300;
    }
}
